.font--footer--text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
.font_header {
    font-size: 24px;
}

.font_header_menu{
    font-size: 10px;
}
.font--text{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
}

.font--bold {

    font-size: 24px;
    line-height: 29px;
    font-weight: bold;

}

.font--menu--nav{
    font-size:10px;
}

.font--large--normal {

    font-size: 20px;
    line-height: 24px;
    font-weight: normal;

}

.font--small--normal {

    font-weight: normal;
    font-size: 10px;
    line-height: 16px;

}

.font--main--profile--headers{
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
}

.font--main--profile--content{
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
}

.underline {
    text-decoration-line: underline;
}

@media (min-width: 768px){
    .font_header_menu{
        font-size: 14px;
    }

    .font--large--normal {

        font-size: 40px;
        font-weight: normal;

    }
    .font--small--normal {
        font-weight: normal;
        font-size: 20px;
    }
}