.main {
}

.flex {
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 13px;
}

.main__skills{
    margin-top:6px;
    padding:0px;

}

.main_skills__photo{
    margin:0px;
    margin-left: 80px;
    margin-right:71px;
}

.main_skills__img {
    display: block;
    flex-grow: 1;
    width:100%;
    margin-right:80px;
    margin-left:71px;
    background: url("Profile Picture.png"), #C66C49;
}

.main_skills_profile{
    display: flex;
    padding:0px;
    margin-top:26px;
    margin-left: 34px;
    margin-right: 32px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.main_skills_profile_headers{
    padding: 0px;
    margin-top: 0px;
    margin-bottom:0px;
    margin-left: 0px;
    margin-right:10px;
    display: block;
    width: 25%;
    flex-grow: 1;
}


.margin-top-null{
    font-size:12px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom:0px;
    margin-left: 0px;
}

.margin_zero{
    margin-bottom: 0px;
}


.main_skills_profile_content{
    display: block;
    width:60%;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:auto;
    margin-right: 0px;
    padding:0px;
    flex-grow:1;
}
.main_skills_profile_content:nth-child(1),.main_skills_profile_content:nth-child(2) {
    margin-bottom:35px;
}

.main_skills_profile_content:nth-child(5),.main_skills_profile_content:nth-child(6) {
    margin-bottom:22px;
}

.main_skills_profile_content:nth-child(9),.main_skills_profile_content:nth-child(10) {
    margin-bottom:22px;
}


.main_skills_profile_progress{
    height: 18px;
    background: #F5D6AB;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.main_skills_profile_progress > span {
    display: block;
    height: 100%;
    background: #C66C49;
    box-shadow:
            inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
    overflow: hidden;
}

.main_portfolio{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: nowrap;
    padding:0px;
    margin-left:34px;
    margin-right:33px;
}

.main_portfolio_text{
    align-self: center;
    text-align: center;
    margin: 0px;
    padding:0px;
    font-size: 12px;
}

.main_portfolio_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:0px;
}

.main_portfolio_photos{
    display:block;
    width: 58%;
    margin:0px;
    padding:0px;
}

.main_portfolio_photos1{
    display:block;
    width: 42.3%;
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:14.55px;
    padding:0px;
}

.main_portfolio_photos_img{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.img_div{
    margin-top:10px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding: 0px;
}

.main_h3{
    margin-top: 25px;
    padding-top: 0px;
    align-self: center;
}

.main_h5{
    margin-top: 19px;
    margin-bottom:15px;
    margin-bottom:15px;
    padding: 0px;
}

.main_about{
    margin-left:34px;
    margin-right: 29px;
    margin-bottom: 8px;

}


@media (min-width: 768px ) {

    .flex{
        justify-content: center;
        max-width: 1107px;
        margin-left: 8.7%;
        margin-right: 8.7%;
    }

    .main_about{
        align-self: center;
        margin-left: 0px;
        margin-right:0px;
        padding: 0px;
    }

    .main_about__text{
        text-align: justify;
        margin-bottom: 5%;
    }

    .main__skills{
        position: relative;
        display: flex;
        flex-direction: row;
        width:100%;
        margin-bottom:70px;
    }

    .main_skills__photo{
        display: block;
        margin-right: 6%;
        margin-left:0px;
        padding-left:0px;
        width: 50%;
    }

    .main_skills__img{
        margin-top:0px;
        padding-left:0px;
        margin-left:0px;
    }

    .main_skills_profile{
        margin-left: 0px;

        padding-top:0px;
        margin-top:0px;
        display: flex;
        width: 50%;
    }

    .main_skills_profile span{
        margin:0px;
        padding:0px;
        font-size:10px;
    }

    .margin-top-null{
        margin-top: 0px;
    }


    .main_h3{
        align-self: flex-start;
        margin-top:93px;
        margin-bottom: 9%;
    }

    .main_portfolio{
        max-width: 1107px;
        flex-direction: row;
        margin-right: 0px;
        margin-left: 0px;
        padding:0px;
        width: 100%;
        margin-bottom: 100px;
    }

    .main_portfolio_text{
        margin-right: 3.8%;
        display:block;
        align-self: flex-start;
        justify-self: flex-start;
        text-align: justify;
        width: 100%;
    }

    .img_div{
        margin-top:0px;
        margin-bottom:2%;
    }

    .main_portfolio h3{
        align-self: flex-start;
        margin-left:0px;
    }

    .main_portfolio_container{
        margin-left:5%;
        width: 100%;
    }

    .main_portfolio_photos1{
        margin-left: 2%;
    }

    .portfolio_h3{
        align-self: flex-start;
        margin-top:8%;
        margin-bottom: 4%;
    }
}
