.header {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background:url("header.png") no-repeat;
    background-color: rgba(198, 108, 73, 0.4) ;
    background-size: cover;
    background-position: center center;
    background-blend-mode: soft-light;
    font-family: Libre Franklin;
    font-style: normal;
    color: #FFFFFF;
}

.h_container{
    margin-bottom: 0px;
    margin-top:36px;
    padding:0px;
}


.h_container:nth-of-type(3){ /* Hi, its Theophile*/
    margin-top:50px;
}

.h_container:nth-of-type(3) h2{
    padding-bottom:0px;
    margin-bottom:0px;
}




.h_container:nth-of-type(4){/* Design From Portugal*/
    margin-top:13px;
    margin-bottom:41px;
}
.h_container:nth-of-type(4) h2{
    padding-bottom:0px;
    margin-bottom:0px;
}

.h_container:nth-of-type(5){/*Latest work*/
    margin-top:0px;
    margin-bottom:50px;
}

.h_container:nth-of-type(5) h2{
    padding-top:0px;
    margin-top:0px;
    padding-bottom:0px;
    margin-bottom:0px;
}

.header__h{
    margin: 0px;
    padding: 0px;
}

.header__h:nth-of-type(3){
    margin-bottom: 50px;
}

.header__h:nth-of-type(2){
    margin-bottom: 13px;
}

.header__menu {
    position: absolute;
    left: 34px;
    top: 39px;
}


.header__menu__checkbox {
    display: none;
}

.header__menu__checkbox:checked ~ .header__menu__nav {
    display: block;
    list-style-type: none;
    position: absolute;
    background: rgba(198, 108, 73, 0.4);
    border-radius: 8px;
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: auto;
}

.header__menu__line {
    border-bottom: 2px solid white;
    padding-bottom: 6px;
    width: 30px;
}

.header__menu__nav {
    display: none;


}

.header__menu__nav li {
    padding: 10px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.header__h {
    display: block;
    padding-bottom: 20px;
}

@media (min-width: 768px ) {
    .header {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 240px;
        background:url("header.png") no-repeat;
        background-color: rgba(198, 108, 73, 0.4) ;
        background-size: cover;
        background-position: center center;
        background-blend-mode: soft-light;
        font-family: Libre Franklin;
        font-style: normal;
        color: #FFFFFF;
        width:100%;
        max-height: 768px;
    }

    .header__menu__line {
        display: none;
    }


    .header__menu__nav {
        list-style-type: none;
        padding: 0px;
        margin:0px;
        display: flex;
        font-size: 4px;
        flex-direction: row;
    }

    .header__menu {
        position: absolute;
/*        left: 50%;*/
        left: 50%;
        top: 80px;
        margin:0px;
        padding: 0px;
        order:0;
    }

    .header__menu__nav li{
        margin: 1%;
        padding: 1%;
    }

    .header__h{
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding: 0px;
    }

    .h_container {
        display: block;
        margin-top:93px;
/*        margin-left:8.7%;*/
        margin-left: 166px;
        flex-grow: 1;
        width:100%;
    }

    /*.h_container:nth-of-type(2) {!* h Portfolio*!*/
    /*    display: block;*/
    /*    color:black;*/
    /*    margin-right:auto;*/
    /*    margin-top: 93px;*/
    /*    order: -1;*/
    /*}*/

    .h_container:nth-of-type(3) {/*Hi its Theophile*/
        margin-top: 93px;
        margin-bottom: 0px;
    }

    .h_container:nth-of-type(4) {/*Designer*/
        margin-top: 80px;
        margin-bottom: 0px;
    }

    .h_container:nth-of-type(5) {/*Latest works*/
        margin-top: 106px;
        margin-bottom: 0px;
    }

    .header__menu__checkbox{
        margin-left:0px;
    }


    .null_top_margin_and_padding{
        margin-top:0px;
        padding-top: 0px;
    }

    .null_bottom_margin_and_padding{
        margin-bottom:5px;
        padding-bottom: 5px;
    }



    .header__menu__checkbox:checked {

    }

    .header__menu__nav li:hover {
        background: rgba(198, 108, 73, 0.4);
        border-radius: 9px;
    }

    a{
        margin:1%;
        width:1%;
        padding:1%;
    }
}

