.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:34px;
    margin-right: 33px;
    padding:0px;
}

.footer_h3{
    align-self: center;
    margin-top:25px;
    margin-bottom: 25px;
    padding:0px;
}
.footer_row{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    margin-bottom: 15px;
    padding:0px;
    margin-left:50px;
}
/*.footer_row:nth-child(1){*/
/*    margin-left:50px;*/

/*}*/

.back_btn{
    margin-left: 50px;
}

.footer_text{
    align-self: flex-start;
    display: block;
    width:50%;
    margin-bottom: 19px;
}
.footer__back:hover{
    background-color: rgba(198, 108, 73, 0.4);
}
@media (min-width: 768px ) {
    .footer{
        flex-direction: row;
        margin-left:5%;
        width:100%;
    }

    .footer_h3{
        align-self: flex-start;
    }

    .footer_row{
        align-self: flex-start;
        display: flex;
        margin-top:0px;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: auto;
        width:100%;
        flex-grow: 1;
    }

    .footer_row:last-of-type{
        width: 35%;
    }

    .footer_text{
        align-self: flex-start;
        padding-left:0px;
        margin-left:0px;
        width: 50%;
    }

    .back_btn{
        margin-top:80%;
        right:120%;

    }
}


