@font-face {

    font-family: 'Libre Franklin';

    src: url('font/LibreFranklin-Medium.ttf');
}

.flex-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: #FFFFFF;
    width: 100%;
    max-width: 1107px;
    min-height: 1000px;
    align-content: center;
}
